
body {  padding-top: 10px; }

#main_frame {
	margin: auto;
    width: 75%;
    min-height: 800px;
    border: none;
    padding: 10px;
    background-color: #f2f2f2;
} 
.jumbotron
{
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url('images/flowerlandscape.jpg');
	background-attachment: fixed;
	height: 100vh;

}
.bg-lav {
    background-color: #15151e;
}
.w3-animate-top
{
	animation:animatetop 2s;
}
.w3-animate-right
{
	animation:animateright 2s;
}
.w3-animate-left
{
	animation:animateright 2s;
}
h2
{
	color:#786996;
}
#backg
{
	position:fixed;
	top: 0;
	width:100%;
	height:30px;
	background-color: #15151e; 
}
#banner{
	
	color:white;
	position: center;
	border: .5vw solid white;
	margin-top: 20vh;
	margin-bottom: 10vh;
	padding: 3vw;
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
	min-height: 300px;

}
.minH
{
	min-height: 300px;
}
div:target {
  padding-top: 140px; 
  margin-top: -10px;
  min-height:100vh;
}
.section
{
	min-height: 40vh;
}
.textp{
	padding-top:20%;
}

.bannerlink{
	float: right;
}

.bannerIMGlink
{
	width: 80px;
	border-radius: 50%;
	border:2px solid white;
	margin: 3px;
}
.bannerIMGlink:hover
{
	opacity: 0.8;
	border-color:#d3bcff;
}
#dateN
{
	float: right;
}
#icon
{
	width:40px;
	border: 2px solid white;
}
#deco1
{
	width:10vw;
	border-top: 2vw dotted white;
}
#deco2
{
	width:10vw;
	border-bottom: 2vw dotted white;
}

#profile{
	padding-bottom: 40vh;

}
#footer{
	background-color: white;
	min-height: 10vh;
	padding:10px;
	color: grey;
	border-top: .4vh solid #d3bcff;
}
.oddsec
{
	padding-right: 30%;
}
.evensec
{
	padding-left: 30%;
}
#up-arrow
{
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #d3bcff;
	float:top;

}
#up-arrow:hover
{

	border-bottom: 16px solid #f2f2f2;

}
#down-arrow:hover
{

	border-top: 16px solid #f2f2f2;

}
#down-arrow
{
	width: 10px;
	height: 10px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #d3bcff;
	bottom:0;
	margin-top: 8px;

}
#arrows
{
	z-index: 9999;
	width: 30px;
	height: 40px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	opacity: 30%;
}